<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Execution" parallel="none">
	<listeners>
		<listener class-name="org.framework.retryAnalyzer.RetryListener"></listener>
	</listeners>
	<test name="E2E Test Suite On Android - emulator-5554">
		<parameter name="platformName" value="android" />
		<parameter name="model" value="emulator-5554" />
		<classes>
			<class name="tests.GDPR_TCFV2_MetaAppTests" />
		</classes>
	</test>

</suite>

