name: RELEASE
on:
  push:
    branches: [ SP-4310_automate_meta_app_release_github_action ]
jobs:
  build:
    name: Build APK and Create release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: creating local.properties # this file is normally added to .gitignore
      run: touch local.properties
    - name: generating MetaApp build release
      id: buildRelease
      run: ./gradlew :metaapp:assembleRelease
    - name: Sign APK
      id: sign
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: metaapp/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.SIGNING_ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_ALIAS_PASSWORD }}   
    - name: Create service_account.json
      id: createServiceAccount
      run: echo '${{ secrets.SERVICE_ACCOUNT_JSON }}' > service_account.json
    - name: Deploy to Play Store
      id: deploy
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJson: service_account.json
        packageName: com.sourcepointmeta.metaapp
        releaseFile: metaapp/build/outputs/apk/release/GDPR-MetaApp-signed.apk
        track: production
      
