name: Test
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: creating local.properties # this file is normally added to .gitignore
        run: touch local.properties
#      - name: running unit tests
#        run: ./gradlew test --quiet --build-cache
      
#      - name: Validate Gradle Wrapper
#        uses: gradle/wrapper-validation-action@v1

#      - uses: actions/cache@v1
#        with:
#          path: ~/.gradle/caches
#          key: ${{ runner.os }}-${{ hashFiles('**/build.gradle') }}-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
      - name: run Example app tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          arch: x86_64
          profile: Nexus 6
          script: ./gradlew :app:connectedDebugAndroidTest --stacktrace
      - name: run MetaApp tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          target: google_apis
          arch: x86_64
          profile: Nexus 6
          script: ./gradlew :metaapp:connectedDebugAndroidTest
#  report:
#    runs-on: ubuntu-latest
#    needs: test
#    if: ${{ always() }}
#    steps:
#      - name: reporting tests results
#        uses: asadmansr/android-test-report-action@v1.2.0
